* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background: linear-gradient(-30deg, rgba(194, 43, 231, 0.418), #4d87df81),
    linear-gradient(30deg, rgb(151, 56, 214), rgb(77, 152, 223));
    text-align: center;
}
ul {
  list-style: none;
}

.chart-container {
  width: 100%;
  height: 600px;
}

.dark-mode {
  color: rgb(234, 230, 230);
  background-color: rgb(66,63,63);
}

